footer {
  background-color: black;
  padding: 50px 0 10px;
}

.footer_p1 {
  color: #fff;
  font-family: Roboto;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 59.4px;
  letter-spacing: 1px;
}

.footer_p2 {
  color: #3c46ff;
  font-family: Roboto;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 59.4px;
  letter-spacing: 1px;
}

h3 {
  color: #fff;
  font-size: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  width: 203px;
  height: 28px;
  flex-shrink: 0;
}

.p_3 {
  color: #666;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: 14px 0px 10px 0px;
}

.email {
  color: #5c5c5c;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
.footer_2 {
  padding: 80px 0px 126px 0px;
  display: flex;
  justify-content: space-between;
}
.more {
  color: #fff;
  display: flex;
  gap: 100px;
}

.more ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.more li {
  cursor: pointer;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
  color: #fff;
  list-style: none;
}

.footerBottom a {
  text-decoration: none;
  color: #8a95ad;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px; /* 130% */
}
