.container {
    max-width: 1215px;
}

.testimonial>p {
    margin-top: 80px;
    margin-bottom: 20px;
    color: #4353FF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.testimonial>h2 {
    /* color: #000; */
    font-size: 54px;
    font-weight: 700;
    line-height: 59.4px;
    letter-spacing: 1px;
    color: red;
}